:root {
    --color-background: #eee;
    --color-blueish-light: #2196F3;
    --color-blueish-dark: #064579;
    --color-blueish-superdark: #061b2c;
    --color-purplish: #931365;
    --color-reddish: #d92a15;
    --color-orangish: #fe7c01;
    --color-yellowish: #fc0;
}