.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-background);
}

.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}

.section-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
        gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    border: 1px solid var(--color-blueish-dark);
    padding: 20px;
}

.card-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.footer {
    display: flex;
    background-color: var(--color-background);
    margin-top: 3rem;
    padding-left: 3rem;
}

/* BLOG-POST PAGE */

.article-image {
    width: 75%;
    height: 75%;
}

.article-container {
    display: flex;
    flex-direction: column;
    margin: 0 10% 2rem 10%;
}

.article-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

